
<div class="d-flex justify-content-center">
    <div class="card" >
        <a href="https://questionsexualite.fr/" target="_blank">
        <img  src="./images/infoSexualite.png" class="card_images" alt="Info sexualité"/>

            <div class="card-body">
                <h5 class="card-title">Info sexualité</h5>
                <p class="card-text">Certaines maladies et infections se transmettent essentiellement lors de relations sexuelles. Découvrez comment les dépister, s'en protéger mais aussi vivre avec.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
</div>

    <div class="card">
        <a href="https://www.sida-info-service.org/" target="_blank">
            <img src="./images/SidaInfoService.jpg" class="card_images" alt="Sida info service"></a>
            <div class="card-body">
                <h5 class="card-title">SidaInfoService</h5>
                <p class="card-text">Confronté à une prise de risque VIH, le dépistage permet de lever le doute pour la très grande majorité des personnes. Parfois, au contraire, l’inquiétude d’être contaminé résiste à tous les arguments rationnels notamment le test effectué dans les délais appropriés. Faut-il en déduire que pour certains appelants la peur du VIH dominerait toute réalité [...]</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>
    <div class="card">
        <a href="https://www.onsexprime.fr/" target="_blank">
        <img src="./images/infoSexualite2.jpg" class="card_images" alt="New York" >
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
